/* Global Styles */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #121212; /* Dark background */
  color: #e0e0e0; /* Light text */
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: space-around;
}

/* App Container */
.App {
  
  text-align: center;
  width: 90%;
  max-width: 600px;
}

/* Input Styles */
input[type="text"] {
  text-align: center;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #333;
  background-color: #222;
  color: #fff;
  width: calc(100% - 24px); /* adjust padding and border */
}

input[type="text"]:focus {
  border-color: #555;
  outline: none;
}

/* Button Styles */
button {
  padding: 10px 20px;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #444;
}

/* Loading and Pokemon Display Styles */
p, h1 {
  margin: 20px 0;
}

img {
  max-width: 100%;
  height: auto;
  /*border: 1px solid #333;  slight border for definition */
}